<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.LoggingConfigurationSectionHandler, NLog" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
          autoReload="true"
          throwExceptions="true"
          internalLogLevel="Debug"
          internalLogFile="${basedir}/Logs/nlog-internal.log"
          internalLogIncludeTimestamp="true">

		<!-- Optional: add some variables that can be used in rules and targets -->
		<variable name="myvar" value="myvalue"/>
		<variable name="logDirectory" value="${basedir}/Logs"/>

		<!-- Targets where log messages will be written to -->
		<targets>
			<!-- File target for all logs -->
			<target name="fileTarget"
                    xsi:type="File"
                    fileName="${logDirectory}/SmartScan-${shortdate}.log"
                    layout="${longdate} | ${level:uppercase=true:padding=5} | ${logger:shortName=true} | ${message} ${onexception:${exception:format=message}}"
                    archiveFileName="${logDirectory}/SmartScan-{#}.log"
                    archiveEvery="Day"
                    archiveNumbering="Rolling"
                    maxArchiveFiles="7"
                    createDirIfNotExists="true"/>

			<!-- File target for errors only -->
			<target name="errorFileTarget"
                    xsi:type="File"
                    fileName="${logDirectory}/SmartScan-Errors-${shortdate}.log"
                    layout="${longdate} | ${level:uppercase=true:padding=5} | ${logger:shortName=true} | ${message} ${onexception:${exception:format=tostring}}"
                    archiveFileName="${logDirectory}/SmartScan-Errors-{#}.log"
                    archiveEvery="Day"
                    archiveNumbering="Rolling"
                    maxArchiveFiles="7"
                    createDirIfNotExists="true"/>

		</targets>

		<!-- Rules to map from logger name or level to the targets -->
		<rules>
			<!-- Log error and higher to error file -->
			<logger name="*" minlevel="Error" writeTo="errorFileTarget"/>

			<!-- Log all messages to file and console -->
			<logger name="*" minlevel="Debug" writeTo="fileTarget"/>

			<!-- Specific loggers can be configured here -->
			<logger name="SmartScanUI.Scanner.*" minlevel="Debug" writeTo="fileTarget"/>
		</rules>
	</nlog>
</configuration>